main{
    background-color: #BFDB38;
    .seccion-2-tienda{
        background-color: #BFDB38;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: .9375rem;
        div{
            div{
                display: flex;
                flex-direction: column;
                gap: .625rem;
                p{
                    font-size: 1.5625rem;
                }
            }
            h2{
                padding-top: .625rem;
                padding-bottom: .625rem;
                text-decoration: underline;
            }
        }
        aside{
            button{
                background-color: #00425A;
                color: #F0EFE7;
                font-size: 1.5625rem;
                box-sizing: content-box;
                padding: 30%;
            }
        }
    }
    .seccion-3-tienda{
        text-align: center;
        background-color: #BFDB38;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.25rem;
        width: 100%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        flex-wrap: wrap;
        article{
            border: .125rem solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: .625rem;
            div{
                img{
                    height: 13.75rem;
                    width: 13.75rem;
                    object-fit: contain;
                }
            }
            button{
                background-color: #00425A;
                height: 6.875rem;
                width: 100%;
                font-size: 1.25rem;
                color: #F0EFE7;
            }
        }
    }
}