@media (max-width: 1300px){
    .seccion-3-sobrenosotros{
        text-align: justify;
        background-color: #00425A;
        color: #F0EFE7;
        height: 60vh; 
        border: .125rem solid black;
        div{
            h2{
                text-decoration: underline;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: 1.25rem;
            }
        }
        .div-valores{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            div{
                height: 24.4375rem;
                border: .125rem solid black;
                border-bottom: none;
                background-color: #BFDB38;
                h2{
                    padding: .625rem;
                    color: black;
                }
            }
        }
    }
}
@media (max-width: 1286px){
    .seccion-3-sobrenosotros{
        text-align: justify;
        background-color: #00425A;
        color: #F0EFE7;
        height: 60vh; 
        border: .125rem solid black;
        div{
            h2{
                text-decoration: underline;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: 1.25rem;
            }
        }
        .div-valores{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            div{
                height: 22.5625rem;
                border: .125rem solid black;
                border-bottom: none;
                background-color: #BFDB38;
                h2{
                    padding: .625rem;
                    color: black;
                }
            }
        }
    }
}
@media (max-width: 1207px){
    .seccion-3-sobrenosotros{
        text-align: justify;
        background-color: #00425A;
        color: #F0EFE7;
        height: 60vh; 
        border: .125rem solid black;
        div{
            h2{
                text-decoration: underline;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: 1.25rem;
            }
        }
        .div-valores{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            div{
                height: 20.6875rem;
                border: .125rem solid black;
                border-bottom: none;
                background-color: #BFDB38;
                h2{
                    padding: .625rem;
                    color: black;
                }
            }
        }
    }
}
@media (max-width: 1174px){
    .seccion-3-sobrenosotros{
        text-align: justify;
        background-color: #00425A;
        color: #F0EFE7;
        height: 60vh; 
        border: .125rem solid black;
        div{
            h2{
                text-decoration: underline;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: 1.25rem;
            }
        }
        .div-valores{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            div{
                height: 20.75rem;
                border: .125rem solid black;
                border-bottom: none;
                background-color: #BFDB38;
                h2{
                    padding: .625rem;
                    color: black;
                }
            }
        }
    }
}
@media (max-width: 1081px){
    .seccion-3-sobrenosotros{
        text-align: justify;
        background-color: #00425A;
        color: #F0EFE7;
        height: 60vh; 
        border: .125rem solid black;
        div{
            h2{
                text-decoration: underline;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: 1.25rem;
            }
        }
        .div-valores{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            div{
                height: 20.8125rem;
                border: .125rem solid black;
                border-bottom: none;
                background-color: #BFDB38;
                h2{
                    padding: .625rem;
                    color: black;
                }
            }
        }
    }
}
@media (max-width: 991px){
    .seccion-3-sobrenosotros{
        text-align: justify;
        background-color: #00425A;
        color: #F0EFE7;
        height: 60vh; 
        border: .125rem solid black;
        div{
            h2{
                text-decoration: underline;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: 1.25rem;
            }
        }
        .div-valores{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            div{
                height: 19rem;
                border: .125rem solid black;
                border-bottom: none;
                background-color: #BFDB38;
                h2{
                    padding: .625rem;
                    color: black;
                }
            }
        }
    }
}
@media (max-width: 890px){
    .seccion-2-sobrenosotros{
        text-align: center;
        background-color: #BFDB38;
        color: black;
        height: 20vh;
        h2{
            text-align: center;
            text-decoration: underline;
            padding: 1.25rem 0;
        }
        p{
            font-size: 1.0625rem;
        }
    }
    .seccion-3-sobrenosotros{
        text-align: justify;
        background-color: #00425A;
        color: #F0EFE7;
        height: 55vh; 
        border: .125rem solid black;
        div{
            h2{
                text-decoration: underline;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: 1.0625rem;
            }
        }
        .div-valores{
            margin-top: 1.25rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            div{
                height: 19rem;
                border: .125rem solid black;
                border-bottom: none;
                background-color: #BFDB38;
                h2{
                    padding: .625rem;
                    color: black;
                }
            }
        }
    }
}
@media (max-width: 844px){
    .seccion-3-sobrenosotros{
        text-align: justify;
        background-color: #00425A;
        color: #F0EFE7;
        height: 55vh; 
        border: .125rem solid black;
        div{
            h2{
                text-decoration: underline;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: 1.0625rem;
            }
        }
        .div-valores{
            margin-top: 1.25rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            div{
                height: 17.5rem;
                border: .125rem solid black;
                border-bottom: none;
                background-color: #BFDB38;
                h2{
                    padding: .625rem;
                    color: black;
                }
            }
        }
    }
}