@media (max-width: 584px){
    .seccion-2-sobrenosotros{
        text-align: center;
        background-color: #BFDB38;
        color: black;
        height: 20vh;
        h2{
            text-align: center;
            text-decoration: underline;
            padding: .625rem 0;
        }
        p{
            font-size: 1.0625rem;
        }
    }
    .seccion-3-sobrenosotros{
        text-align: justify;
        background-color: #00425A;
        color: #F0EFE7;
        height: 55vh; 
        border: .125rem solid black;
        div{
            h2{
                text-decoration: underline;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: 1.0625rem;
            }
        }
        .div-valores{
            margin-top: 1.25rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            div{
                height: 16.125rem;
                border: .125rem solid black;
                border-bottom: none;
                background-color: #BFDB38;
                h2{
                    padding: .625rem;
                    color: black;
                }
            }
        }
    }
}
@media (max-width: 523px){
    .seccion-2-sobrenosotros{
        text-align: center;
        background-color: #BFDB38;
        color: black;
        height: 20vh;
        h2{
            text-align: center;
            text-decoration: underline;
            padding: .625rem 0;
        }
        p{
            font-size: 1.0625rem;
        }
    }
    .seccion-3-sobrenosotros{
        text-align: justify;
        background-color: #00425A;
        color: #F0EFE7;
        height: 55vh; 
        border: .125rem solid black;
        div{
            h2{
                text-decoration: underline;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: 1.0625rem;
            }
        }
        .div-valores{
            margin-top: 1.25rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            div{
                height: 14.5625rem;
                border: .125rem solid black;
                border-bottom: none;
                background-color: #BFDB38;
                h2{
                    font-size: 1.25rem;
                    padding: .625rem;
                    color: black;
                }
            }
        }
    }
}
@media (max-width: 465px){
    .seccion-2-sobrenosotros{
        text-align: center;
        background-color: #BFDB38;
        color: black;
        height: 20vh;
        h2{
            text-align: center;
            text-decoration: underline;
            padding: .3125rem 0;
        }
        p{
            font-size: .9375rem;
        }
    }
    .seccion-3-sobrenosotros{
        text-align: justify;
        background-color: #00425A;
        color: #F0EFE7;
        height: 55vh; 
        border: .125rem solid black;
        div{
            h2{
                text-decoration: underline;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: .9375rem;
            }
        }
        .div-valores{
            margin-top: 1.25rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            div{
                height: 16.0625rem;
                border: .125rem solid black;
                border-bottom: none;
                background-color: #BFDB38;
                h2{
                    font-size: 1.25rem;
                    padding: .625rem;
                    color: black;
                }
            }
        }
    }
}
@media (max-width: 400px){
    .seccion-2-sobrenosotros{
        text-align: center;
        background-color: #BFDB38;
        color: black;
        height: 25vh;
        h2{
            text-align: center;
            text-decoration: underline;
            padding: 0 0;
        }
        p{
            font-size: 1.0625rem;
        }
    }
    .seccion-3-sobrenosotros{
        text-align: justify;
        background-color: #00425A;
        color: #F0EFE7;
        height: 55vh; 
        border: .125rem solid black;
        div{
            h2{
                text-decoration: underline;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: 1.0625rem;
            }
        }
        .div-valores{
            margin-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            div{
                height: 3.125rem;
                border: .125rem solid black;
                border-bottom: none;
                background-color: #BFDB38;
                h2{
                    font-size: 1.25rem;
                    padding: .625rem;
                    color: black;
                }
            }
        }
    }
}
@media (max-width: 302px){
    .seccion-2-sobrenosotros{
        text-align: center;
        background-color: #BFDB38;
        color: black;
        height: 26vh;
        h2{
            text-align: center;
            text-decoration: underline;
            padding: 0 0;
        }
        p{
            font-size: .875rem;
        }
    }
    .seccion-3-sobrenosotros{
        text-align: justify;
        background-color: #00425A;
        color: #F0EFE7;
        height: 55vh; 
        border: .125rem solid black;
        div{
            h2{
                text-decoration: underline;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: .875rem;
            }
        }
        .div-valores{
            margin-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            div{
                height: 2.5rem;
                border: .125rem solid black;
                border-bottom: none;
                background-color: #BFDB38;
                h2{
                    font-size: 1.25rem;
                    padding: .3125rem;
                    color: black;
                }
            }
        }
    }
}