@media(max-width:1016px){
.seccion-2-contacto{
    flex-direction: column;
    justify-content: flex-start;
    height: 80%;
}
}
@media(max-width:576px){
    .seccion-2-contacto{
        .div-informacion-contacto{
            h2{
                font-size: 1.5625rem;
            }
            img{
                height: 2.5rem;
                width: 2.5rem;
                object-fit: contain;
            }
            p{
                font-size: 1.125rem;
                padding-top: .625rem;
            }
        }
        .div-redes{
            padding: 3.75rem 0;
            h2{
                font-size: 1.5625rem;
            }
            a{
                font-size: 1.125rem;
                img{
                    height: 2.5rem;
                    width: 2.5rem;
                    object-fit: contain;
                }
            }
        }
    }
}

@media(max-width:460px){
    .seccion-2-contacto{
        .div-informacion-contacto{
            h2{
                font-size: 1.375rem;
            }
            div{
                img{
                    height: 1.875rem;
                    width: 1.875rem;
                    object-fit: contain;
                }
                p{
                    font-size: .9375rem;
                    padding-top: .3125rem;
                }
            }
        }
        .div-redes{
            h2{
                font-size: 1.375rem;
            }
            a{
                font-size: .9375rem;
                img{
                    height: 1.875rem;
                    width: 1.875rem;
                    object-fit: contain;
                }
            }
        }
    }
}

@media(max-width:400px){
    .seccion-2-contacto{
        .div-informacion-contacto{
            h2{
                font-size: 1.375rem;
            }
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    height: 2.1875rem;
                    width: 2.1875rem;
                    object-fit: contain;
                }
                p{
                    font-size: .9375rem;
                }
            }
        }
        .div-redes{
            h2{
                font-size: 1.375rem;
            }
            a{
                font-size: .9375rem;
                img{
                    height: 2.1875rem;
                    width: 2.1875rem;
                    object-fit: contain;
                }
            }
        }
    }
}

@media(max-width:320px){
    .seccion-2-contacto{
        .div-informacion-contacto{
            h2{
                font-size: 1.25rem;
            }
            div{
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                img{
                    height: 2.1875rem;
                    width: 2.1875rem;
                    object-fit: contain;
                }
                p{
                    font-size: .75rem;
                }
            }
        }
        .div-redes{
            h2{
                font-size: 1.25rem;
            }
            a{
                font-size: .75rem;
                img{
                    height: 2.1875rem;
                    width: 2.1875rem;
                    object-fit: contain;
                }
            }
        }
    }
    .footer-contacto{
        display: flex;
        background-color: #00425A;
        height: 20%;
        color: #F0EFE7;
        font-size: .75rem;
    }
}

@media(max-width:175px){
    .seccion-2-contacto{
        .div-informacion-contacto{
            h2{
                font-size: 1.25rem;
            }
            div{
                img{
                    height: 1.875rem;
                    width: 1.875rem;
                    object-fit: contain;
                }
                p{
                    font-size: .625rem;
                }
            }
        }
        .div-redes{
            h2{
                font-size: 1.25rem;
            }
            a{
                font-size: .625rem;
                img{
                    height: 1.875rem;
                    width: 1.875rem;
                    object-fit: contain;
                }
            }
        }
    }
}

@media(max-width:150px){
    .seccion-2-contacto{
        .div-informacion-contacto{
            h2{
                font-size: 1.125rem;
            }
            div{
                img{
                    height: 1.875rem;
                    width: 1.875rem;
                    object-fit: contain;
                }
                p{
                    font-size: .5rem;
                }
            }
        }
        .div-redes{
            h2{
                font-size: 1.25rem;
            }
            a{
                font-size: .5rem;
                img{
                    height: 1.875rem;
                    width: 1.875rem;
                    object-fit: contain;
                }
            }
        }
    }
}