@media(max-width: 490px){
    .seccion-1-inicio{
        background-size: cover;
            .clase-iso{
                height: 7.5rem;
            }
            .clase-logo{
                width: 18.75rem;
            }
    }
    .seccion-2-inicio{
        div{
            p{
                font-size: .8875rem;
                padding: .125rem;
            }
        }
        .div-valores-empresa{
            display: none;
        }
    } 
    .seccion-3-inicio{
        h2{
            padding: .9375rem;
        }
        .carrusel{
            gap: .9375rem;
            padding: 1.875rem 0;
            h3{
                font-size: .9375rem;
            }
            article{
                a{
                    height: 7.5rem;
                    width: 7.5rem;
                    img{
                        height: 7.5rem;
                        width: 7.5rem;
                    }
                }
            }
        }
    }
    .seccion-4-inicio{
    h2{
        padding: .9375rem;
    }
    .div-instagram{
        gap: .9375rem;
        padding: 1.875rem 0;
        div{
            object-fit: cover;
            height: 7.5rem;
            width: 7.5rem;
            a{
                height: 7.5rem;
                width: 7.5rem;
                img{
                    object-fit: cover;
                    height: 7.5rem;
                    width: 7.5rem;
                }
                }
            }
        }
        .cambio-768{
            display: none;
        }
    }
    .footer-inicio{
        background-color: #00425A;
        color: #F0EFE7;
        font-size: .9375rem;
        display: flex;
        justify-content: space-around;
        .ubicacion{
            padding-top: .3125rem;
            h4{
                text-align: center;
            }
            div{
                display: flex;
                flex-direction: column;
                text-align:left;
                align-items: center;
                img{
                    height: 1.5625rem;
                    width: 1.5625rem;
                    object-fit: contain;
                }
            }
        }
        .contacto{
            padding-top: .3125rem;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    width: 1.5625rem;
                    height: 1.5625rem;
                    object-fit: contain;
                }
            }
            h4{
                text-align: center;
            }
        }
        .seguinos{
            padding-top: .3125rem;
            h4{
                text-align: center;
            }
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                a{
                    text-decoration: none;
                    color: #F0EFE7;
                    img{
                        width: 1.5625rem;
                        height: 1.5625rem;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}


@media(max-width: 420px){
    .seccion-1-inicio{
        background-size: cover;
            .clase-iso{
                height: 6.25rem;
            }
            .clase-logo{
                width: 15.625rem;
            }
    }
    .seccion-2-inicio{
        div{
            p{
                font-size: .8875rem;
                padding: .125rem;
            }
        }
        .div-valores-empresa{
            display: none;
        }
    } 
    .seccion-3-inicio{
        h2{
            padding: .9375rem;
        }
        .carrusel{
            gap: .9375rem;
            padding: 1.875rem 0;
            h3{
                font-size: .9375rem;
            }
            article{
                a{
                    height: 6.25rem;
                    width: 6.25rem;
                    img{
                        height: 6.25rem;
                        width: 6.25rem;
                    }
                }
            }
        }
    }
    .seccion-4-inicio{
    h2{
        padding: .9375rem;
    }
    .div-instagram{
        gap: .9375rem;
        padding: 1.875rem 0;
        div{
            object-fit: cover;
            height: 6.25rem;
            width: 6.25rem;
            a{
                height: 6.25rem;
                width: 6.25rem;
                img{
                    object-fit: cover;
                    height: 6.25rem;
                    width: 6.25rem;
                }
                }
            }
        }
        .cambio-768{
            display: none;
        }
    }
    .footer-inicio{
        background-color: #00425A;
        color: #F0EFE7;
        font-size: .8125rem;
        display: flex;
        justify-content: space-around;
        .ubicacion{
            padding-top: .3125rem;
            h4{
                text-align: center;
                font-size: 1.125rem;
            }
            div{
                display: flex;
                flex-direction: column;
                text-align:left;
                align-items: center;
                img{
                    height: 1.5625rem;
                    width: 1.5625rem;
                    object-fit: contain;
                }
            }
        }
        .contacto{
            padding-top: .3125rem;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    width: 1.5625rem;
                    height: 1.5625rem;
                    object-fit: contain;
                }
            }
            h4{
                text-align: center;
                font-size: 1.125rem;
            }
        }
        .seguinos{
            padding-top: .3125rem;
            h4{
                text-align: center;
                font-size: 1.125rem;
            }
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                a{
                    text-decoration: none;
                    color: #F0EFE7;
                    img{
                        width: 1.5625rem;
                        height: 1.5625rem;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}
